/* Example of a media query for smartphones */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
}


img {
  max-width: 100%;
  height: auto;
}

[lv-theme="light"]{
  --bg-color: #ffffff;
  --text-color: #333333;
  --heading-color: #444444;
  
}

[lv-theme="dark"]{
  --bg-color: #333333  ;
  --text-color: #ffffff ;
  --heading-color:  #dddddd;
  
}

body{
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

h2{
  color: var(--heading-color);
}

.switch-theme {
  
  
  position: absolute;
  top: 25px;
  right: 30px;

}

.switch-theme label{
   display: inline-block;
   width: 40px;
   height: 20px;
   position: relative;
   margin-left: 10px;
   overflow: hidden;
   


}

.switch-theme .slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
 
}

.switch-theme input:checked+ .slider{
  background-color: #2196f3;
}


.switch-theme .slider::before{
  position: absolute;
  content: " ";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.switch-theme input:checked + .slider::before{
 transform: translateX(20px) ;
 background-color: black;
}






